# ======================== #
# ACCESS CONTROL for ATOMO #
# ======================== #

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /atomo-wordpress/
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /atomo-wordpress/index.php [L]
</IfModule>

<Files wp-config.php>
  Order allow,deny
  Deny from all
</Files>
