@import "variables.less";

.grid-featured {
  .column {
    min-height: 200px;
    &:first-child {
      flex-basis: 50%;
    }
    &:last-child {
      flex-basis: 50%;
      margin-left: 40px;
    }
    .description {
      background: white;
      padding: 1.8rem 2.6rem;
      h4 {
        color: @camel;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 0.8rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }

    }
    .thumbnail {
      .aspect-ratio(4, 3);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      width:100%;
    }

    &-sub {
      height: 100%;
      background: @camel;
      &:nth-of-type(1) {
        margin-bottom: 20px;
      }
      &:nth-of-type(2) {
        margin-top: 20px;
      }
      .thumbnail {
        .aspect-ratio(1, 1);
        width:100%;
      }
      .description {
        flex-basis: 45%;
        padding: 1rem 2rem;
        h4 {
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
      .thumbnail {
        flex-basis: 55%;
      }
    }
  }
}

.grid-read {
  .row {
    flex-wrap: wrap;
  }
  .column {
    flex-basis: calc(50% - 16px);
    padding-right: 16px;
    margin-bottom: 32px;
    min-height: 216px;
    &:nth-of-type(2n) {
      padding-right: 0;
      padding-left: 16px;
    }
  }
  .thumbnail {
    flex-basis: 50%;
    img {
      height: 100%;
      width: auto;
    }
  }
  .description {
    background: white;
    padding: 20px 2rem;
    flex-basis: 50%;
  }
  h4 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: @camel;
  }
  p {
    // font-size: 0.8rem;
    // line-height: 1.5;
    // margin-bottom: 2rem;
    font-size: 0.75rem;
    line-height: 1.45;
    margin-bottom: 0.8rem;
  }
  a {
    height: 100%;
    font-size: 0.7rem;
    text-transform: uppercase;
    align-self: flex-end;

  }
}

.grid-regular {
  .row {
    width: 100%;
    flex-wrap: wrap;
  }
  .column {
    flex-basis: calc(100% / 3 - 24px);
    padding: 0 12px;
    margin-bottom: 20px;
    &:nth-of-type(3n+1) {
      flex-basis: calc(100% / 3 - 12px);
      padding-left: 0;
    }
    &:nth-of-type(3n) {
      flex-basis: calc(100% / 3 - 12px);
      padding-right: 0;
    }
  }
  .thumbnail {
    height: 150px;
  }
  .description {
    background: white;
    padding: 20px 2rem;
    flex: 1;
  }
  h4 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
    color: @camel;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  a {
    font-size: 0.7rem;
    text-transform: uppercase;
  }
}
.pagination {
    * {
      font-size: 0.8rem;
    }
  a {
    position: relative;
    font-size: 0.8rem;
    color: @black-soft;
    padding: 0 1rem;
    &.active {
      color: @camel;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 100%;
      width: 1px;
      background: @black-soft;
    }
    &:nth-of-type(1)::after {
      content: none;
    }
  }
  .next,
  .prev {
    display: none;
  }
}



.thumbnail {
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    // height: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) translateZ(0) scale(1);
    transform-origin: center center;
    transition: all 0.6s cubic-bezier(.4,0,.2,1);
  }
}
.description {
  position: relative;
}
.landscape {
  .thumbnail {
    img {
      width: auto;
      height: 100%;
    }
  }
}
.item {
  width: 100%;
  font-family: @baskerville;
  color: @black;
  * {
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal !important;
  }
  .category {
    font-family: @roboto;
    position: absolute;
    right: 20px;
    bottom: 14px;
    color: @black;
    text-transform: uppercase;
    font-size: 0.65rem !important;
    letter-spacing: 0.05rem;
    align-self: flex-end;
    margin: 0 !important;
  }

  &:hover {
    .thumbnail {
      img {
        transform: translateY(-50%) translateX(-50%) translateZ(0) scale(1.04);
      }
    }
  }
}

.featured {
  .description {
    background: @camel;
    color: white;
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 25px);
      left: -40px;
      width: 50px;
      height: 50px;
      background-image: url('../images/web/logo-iso.svg');
      background-position: center center;
      background-size: 50px;
      background-repeat: no-repeat;
    }
    h4 {
      color: white;
    }
    a {
      color: @black;
    }
  }
}

.thumbnail-wrapper {
    width: 100%;
    height: 15vw;
    max-height: 150px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.grid-read {
  .thumbnail-wrapper {
    height: 100%;
    max-height: none;
  }
}
.thumbnail.main img {
  height: 100%;
  width: auto;
}
@media (max-width: @desktop) {
}
@media (max-width: @tablet) {
  .item {
    span {
      font-size: 0.6rem;
      bottom: 15px;
      right: 20px;
    }
    .category {
      bottom: 10px;
    }
  }
  .grid-featured {
    .column {
      &:first-child {
        flex-basis: 45%;
      }
      &:last-child {
        margin-left: 20px;
        flex-basis: 55%;
      }
      .description {
        font-size: 1.3rem;
        h4 {
          margin-bottom: 1rem;
        }
      }
    }
    .column-sub {
      &:nth-of-type(1) {
        margin-bottom: 10px;
      }
      &:nth-of-type(2) {
        margin-top: 10px;
      }
      .description {
        flex-basis: 50%;
        padding: 1rem 1.5rem;
        h4 {
          font-size: 1.2rem;
          margin-bottom: 0.8rem;
        }
        p {
          font-size: 0.75rem;
          margin-bottom: 1.2rem;
        }
      }
      .thumbnail {
        flex-basis: 50%;
      }
    }
  }
  .grid-read {
    .column {
      flex-basis: calc(50% - 10px);
      padding-right: 10px;
      margin-bottom: 20px;
      &:nth-of-type(2n) {
        padding-left: 10px;
      }
    }
    .description {
      padding: 20px 1.5rem;
      flex-basis: 45%;
    }
    h4 {
      font-size: 1rem;
    }
    p {
      // font-size: 0.7rem;
      line-height: 1.45;
      margin-bottom: 0.5rem;
    }
    .thumbnail {
      flex-basis: 55%;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .grid-regular {
    .column {
      flex-basis: calc(100% / 3 - 20px);
      padding: 0 10px;
      &:nth-of-type(3n+1) {
        flex-basis: calc(100% / 3 - 10px);
      }
      &:nth-of-type(3n) {
        flex-basis: calc(100% / 3 - 10px);
      }
    }
    .description {
      padding: 20px 1.4rem;
    }
    h4 {
      font-size: 1rem;
    }
    p {
      // font-size: 0.7rem;
      line-height: 1.45;
      margin-bottom: 0.8rem;
    }
    b {
      font-weight: normal;
    }
  }
  .thumbnail {
    // img {
    //   height: 100%;
    //   width: auto;
    // }
  }
}

@media (max-width: @small-tablet) {
  .grid-featured {
    .column {
      &:first-child {
        flex-basis: 50%;
        margin-right: 10px;
      }
      &:last-child {
        flex-basis: 50%;
        margin-left: 10px;
      }
      .thumbnail {
        .aspect-ratio(1, 1);
      }
      .description {
        padding: 2rem;
      }
    }
    .column-sub {
      .item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
      .thumbnail {
        flex-basis: 100%;
        // max-height: 110px;
        &::before {
          content: none;
        }
      }
      .description {
        height: 100%;
        padding: 1rem;
        flex-basis: auto;
        h4 {
          font-size: 1rem;
        }
        p {
          font-size: 0.7rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .grid-read {
    .column {
      flex-basis: 100%;
      padding: 0 !important;
      &:nth-of-type(2n+2) .item {
        flex-direction: row-reverse;
      }
    }
    .thumbnail {
      min-height: 170px;
    }
    .description {
      padding: 20px 2rem;
    }
  }
  .grid-regular {
    .column {
      flex-basis: calc(100% / 2 - 10px);
      &:nth-of-type(2n+1) {
        flex-basis: calc(100% / 2 - 10px);
        padding-right: 10px;
        padding-left: 0;
      }
      &:nth-of-type(2n+2) {
        flex-basis: calc(100% / 2 - 10px);
        padding-left: 10px;
        padding-right: 0;
      }
    }
    .description {
      padding: 20px 1.5rem;
    }
    .thumbnail {
      height: 208px;
      img {
        height: 100%;
        width: auto;
      }
    }
    p {
      font-size: 0.75rem;
    }
  }
  .item {
    span {
      font-size: 0.55rem;
      bottom: 10px;
      right: 15px;
    }
  }
  .landscape .thumbnail img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: @phone) {
  .grid-featured {
    .row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .column {
      flex-basis: 100% !important;
      margin: 0 !important;
      &:first-child {
        margin-bottom: 20px !important;
      }
      .thumbnail {
        .aspect-ratio(3, 2);
      }
    }
    .column-sub {
      .thumbnail {
        max-height: none;
        height: 150px;
      }
      .description {
        padding: 2rem;
        flex-basis: 50%;
      }
    }
  }
  .grid-read {
    flex-basis: 100% !important;
    padding: 0 !important;
    .column .item, .column:nth-of-type(2n+2) .item {
      flex-direction: row-reverse;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .thumbnail {
      flex-basis: 50%;
      max-height: none;
      height: 150px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .description {
      padding: 2rem;
      flex-basis: 50%;
    }
    h4 {
      font-size: 0.9rem;
    }
    p {
      font-size: 0.7rem;
    }
  }
  .grid-regular {
    .column {
      flex-basis: 100% !important;
      padding: 0 !important;
      .thumbnail img {
        height: auto;
        width: 100%;
      }
    }
  }
  .column, .grid-featured .column:first-child {
    margin-bottom: 30px !important;
  }
  .grid-featured .column-sub:nth-of-type(1) {
    margin-bottom: 15px;
  }
  .grid-featured .column-sub:nth-of-type(2) {
    margin-top: 15px;
  }
}
