@import "variables.less";

.single {
  margin: 0;
  &-false {
    position: absolute;
    top: 0;
    right: 0;
    // width: 820px;
    width: 50px;
    height: 100%;
    // height: calc(100% - 100px);
    z-index: 0;
    // pointer-events: none;
  }
  &-container {
    article {
      width: 100%;
    }
  }
  &-image {
    width: 100%;
    max-width: @container;
    height: 450px;
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: @camel;
    // background-attachment: fixed;

  }
  &-text {
    &-wrapper {
      width: 720px;
      background: white;
      transform: translateY(-150px);
      margin-bottom: -120px;
      z-index: 2;
      // border-top: 3px @camel solid;
    }
    &-container {
      margin: 4rem;
      .single-social-wrapper {
        display: none;
      }
      .post-body {
        padding-top: 2rem;
      }
      h1 {
        color: @camel;
      }
      h2 {
        font-size: 1.8rem;
        color: @black;
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0.8rem;
      }
      h3 {
        font-size: 1.2rem;
        line-height: 1.4;
        font-weight: 600;
        margin: 1.5rem 0;
      }
      h4 {
        margin-top: 1.5rem;
        font-weight: 600;
      }
      h5 {
        align-self: flex-end;
        position: relative;
        font-size: 0.9rem;
        &::before {
          content: '';
          position: absolute;
          left: -60px;
          top: 50%;
          width: 50px;
          height: 1px;
          background: @black;
        }
      }
      p {
        color: @black;
        font-size: 0.9rem;
        line-height: 1.8;
        margin-top: 0.5rem;
        text-indent: 1rem;
      }
      span {
        font-family: @baskerville;
        align-self: flex-end;
        font-size: 0.7rem;
        margin-top: 0.3rem;
        max-width: 320px;
        text-align: right;
        line-height: 1.4;
        letter-spacing: normal;
      }
      img {
        width: 50%;
        margin: 0 1.5rem;
      }
      figure {
        width: 100% !important;
        margin: 1.2rem 2.2rem;
        img {
          height: auto;
        }
      }
      .alignleft {
        margin-left: 0;
        float: left;
      }
      .alignright {
        margin-right: 0;
        float: right;
      }
      .aligncenter {
        width: 100%;
        // margin-right: 0;
        // margin-left: -2rem;
        // margin-top: 1.5rem;
        margin: 0;
        margin-left: -1rem;
      }
      .wp-caption-text {
        margin-top: 0.5rem;
        font-family: @roboto;
        text-transform: uppercase;
        font-size: 0.65rem;
        letter-spacing: 0.05rem;
        line-height: 1.4;
      }

      blockquote {
        p {
          font-size: 1.8rem;
          line-height: 1.4;
        }
      }
      q {
        p {
          font-weight: 600;
        }
      }
      ol {
        margin-top: 1rem;
        &>li {
          margin-left:0;
          margin-bottom: 0.6rem;
          padding-left:0;
          counter-increment:item;
          list-style:none inside;
          &::before {
            content:"(" counter(item) ")";
            padding-right:0.5em
          }
        }
      }
      li {
        color: @red;
        font-family: @roboto;
        font-size: 0.65rem;
        letter-spacing: 0.02rem;
        line-height: 1.4;
      }
    }
    &-featured {
      flex-wrap: wrap;
      width: calc(100% + 8rem);
      margin: 3rem auto;
      margin-left: -4rem;
      .column {
        flex-basis: 50%;
        position: relative;
        overflow: hidden;
      }
      img {
        width: auto !important;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 !important;
        height: 100%;
      }
      blockquote p {
        color: white;
        font-size: 1.3rem;
        padding: 3rem;
        background: @camel;
        margin: 0;
        text-indent: initial;
      }
    }
    &-quote {
      background: @camel;
      margin: 2rem -4.5rem;
      .column {
        flex-basis: 50%;
        &:nth-of-type(2) {
          position: relative;
          background-image: url('../images/placeholders/car.jpg');
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 100%;
        }
      }
      h5 {
        font-size: 1.3rem;
        color: white;
        margin: 3rem 2rem 3rem 4.5rem;
      }
    }
  }
  &-social {
    // display: none;
    width: 50px;
    // height: 150px;
    z-index: 99;
    margin: 0;
    margin-top: 480px;
    &-wrapper {
      a {
        // pointer-events: auto;
        margin: 0.4rem 0;
        svg {
          width: 26px;
          height: 26px;
          &#twitter {
            width: 20px;
            height: 20px;
          }
          &#whatsapp {
            width: 22px;
            height: 22px;
          }
        }
        path {
          fill: @camel;
        }
      }
    }
  }

  .navigation {
    width: 720px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    margin-bottom: 2rem;
    z-index: 2;
    .nav-links {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      a {
        font-size: 0.7rem;
        text-transform: uppercase;
      }
    }
  }
  &-icon {
    margin: 0 !important;
    margin-top: 1.2rem !important;
    width: 34px !important;
    height: 34px;
  }
}

// No text
.no-text,
.no-text-2 {
  .single-text {
    &-wrapper {
      transform: translateY(0);
    }
  }
}
.no-text-2 {
  .main {
    background: white;
  }
  .nav-init {
    background: @cream;
  }
}
.category-interviews {
  p {
    text-indent: inherit;
  }
  em {
    font-weight: bold;
    font-size: 0.95rem;
    letter-spacing: 0.01rem;
  }
}
@media (max-width: @tablet) {
  .single {
    width: 100%;
    max-width: none;
    &-image {
      max-width: none;
    }
    &-text {
      &-wrapper {
        max-width: 720px;
        width: 86%
      }
      &-featured {
        blockquote p {
          font-size: 1.2rem;
        }
      }
    }
    &-false {
      // right: 3%;
      // width: 5vw;
      right: 0;
      width: 56px;
    }
    &-social {
      width: auto;
    }
  }
}

@media (max-width: @small-tablet) {
  .single {
    &-text {
      &-featured {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: -2.5rem;
        width: calc(100% + 5rem);
        padding: 3.6rem 0;
        img {
          width: 100% !important;
          left: auto;
          transform: translateX(0);
          height: auto;
          top: 50%;
          transform: translateY(-50%);
        }
        .column.image {
          min-height: 280px;
        }
      }
      &-wrapper {
        width: 90%;
      }
      &-container {
        margin: 4rem 2.5rem 2rem;
        .single-social-wrapper {
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-direction: row;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          a {
            margin: 0 0.8rem;
          }
        }
        h1 {
          font-size: 1.8em;
          margin: 0.4em 0;
        }
        h2 {
          font-size: 1.6rem;
        }
        h3 {
          font-size: 1.1rem;
        }
        p {
          font-size: 0.85rem;
          line-height: 1.7;
        }
        blockquote p {
          font-size: 1.5rem;
        }
      }
    }
    .navigation {
      max-width: 720px;
      width: 86%
    }
    &-false {
      display: none;
    }
  }
  .category-interviews em {
    font-size: 0.9rem;
  }
}
@media (max-width: @phone) {
  .single {
    &-image {
      height: 280px;
    }
    &-text {
      &-wrapper {
        width: 100%;
        transform: translateY(0);
        margin: 0;
      }
      &-container {
        margin: 3rem 2rem 1rem;
        h1 {
          font-size: 1.6em;
          margin: 0.3em 0;
        }
        h2 {
          font-size: 1.4rem;
        }
        h3 {
          font-size: 1rem;
        }
        blockquote p {
          font-size: 1.3rem;
        }
      }
      &-featured {
        blockquote p {
          padding: 2rem 3rem;
        }
        .column {
          margin: 0 !important;
          img {
            width: auto !important;
            height: 100%;
            top: auto;
            left: 50%;
            transform: translateY(0) translateX(-50%);
          }
        }
      }
    }
  }
}
