@import 'variables';


*,
*::before,
*::after {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html,
body {
  background: $white;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $black;
  font-family: $baskerville-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;

  &.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }
}

.ready .loader {
  opacity: 0;
  pointer-events: none;
}

.loader {
  background: $white;
  background-image: url('../images/web/logo-loader.svg');
  background-position: center center;
  background-size: 200px;
  background-repeat: no-repeat;
  height: 100%;
  opacity: 1;
  position: fixed;
  transition: all 0.4s cubic-bezier(.4,0,.2,1);
  width: 100%;
  z-index: 10;
}

section {
  margin-top: 8rem;
  max-width: $container-width;
  position: relative;
  width: 90%;
}

span {
  font-family: $roboto-mono;
}

a {
  color: $red;
  font-family: $roboto-mono;
  letter-spacing: 0.15rem;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

input {
  border: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: $white;
  padding: 0 1rem;
  width: 100%;
}

.headline {
  align-self: start;
  color: $black;
  font-size: 2rem;
  margin-bottom: 3rem;
  position: relative;

  &::after {
    background: $black;
    content: '';
    height: 2px;
    position: absolute;
    right: -210px;
    top: calc(50% - 3px);
    width: 180px;
  }
}

.mono {
  font-family: $roboto-mono;
}


.main {
  background: $cream;
  width: 100%;
}

.container {
  padding: 0;
  transform: translateY(-150px);
  width: 100%;
}

.archive {
  .container {
    transform: translateY(0);
  }
}

.articles {
  .container {
    transform: translateY(0);
  }
  .nav-init {
    height: 200px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
}

.issue {
  max-width: none;
  min-height: 30vh;
  width: 100%;

  &-container {
    max-width: $container-width;
    padding: 3rem 0;
    position: relative;
  }

  &-version {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    width: 70px;
    z-index: 3;
  }

  &-image {
    width: 230px;
  }

  &-text {
    color: $white;
    max-width: 400px;
    margin-left: 3rem;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 1rem;
    }

    a {
      color: $black;
      font-size: 0.9rem;
      font-weight: 500;
      margin-top: 1rem;
      position: relative;

      &::after {
        background: $black;
        bottom: -5px;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
}



.suscribe {
  background: $green;
  width: 100%;

  max-width: $container-width;
  max-width: none;
  min-height: 30vh;
  text-align: center;

  &-container {
    max-width: $input-width;
    padding: 6rem 0;
    position: relative;
    width: 80%;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p {
    color: $white;
  }

  .input-container {
    padding: 3rem 0;
    width: 100%;
  }

  .button {
    background: $black;
    border: none;
    color: $white;
    font-family: $roboto-mono;
    padding: 1rem;
    text-transform: uppercase;
  }
}



@media (max-width: $tablet) {
  a {
    letter-spacing: 0.13rem;
  }

  section {
    margin-top: 6rem;
  }

  .headline {
    font-size: 1.8rem;

    &::after {
      right: -180px;
      width: 150px;
    }
  }

  .loader {
    background-size: 170px;
  }

  .container {
    transform: translateY(-70px);
  }
}

@media (max-width: $small-tablet) {
  .headline {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;

    &::after {
      right: -125px;
      width: 100px;
    }
  }

  .loader {
    background-size: 150px;
  }
}

@media (max-width: $phone) {
  .headline {
    font-size: 1.3rem;
    margin-bottom: 2rem;

    &::after {
      right: -80px;
      width: 60px;
    }
  }

  .loader {
    background-size: 120px;
  }
}
