//  ~: SINGLE :~  //

.single {
  margin: 0;

  &-image {
    background-image: url('../images/placeholders/forest.jpg');
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    max-width: $container-width;
    width: 100%;
  }

  &-text {
    &-wrapper {
      background: $white;
      transform: translateY(-150px);
      width: 720px;
    }

    &-container {
      margin: 4.5rem;

      h3 {
        color: $camel;
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
      }

      h4 {
        align-self: flex-end;
        font-size: 0.9rem;
        position: relative;

        &::before {
          background: $black;
          content: '';
          height: 1px;
          left: -60px;
          position: absolute;
          top: 50%;
          width: 50px;
        }
      }

      p {
        font-size: 0.9rem;
        line-height: 1.8;
        margin-top: 1.5rem;
      }

      span {
        font-size: 0.7rem;
        margin-top: 4rem;
      }
    }

    &-quote {
      background: $camel;
      margin: 2rem -4.5rem;

      .column {
        flex-basis: 50%;

        &:nth-of-type(2) {
          background-image: url('../images/placeholders/car.jpg');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
          width: 100%;
        }
      }

      h5 {
        color: $white;
        font-size: 1.3rem;
        margin: 3rem 2rem 3rem 4.5rem;
      }
    }
  }

  &-social {
    background: $camel;
    display: none;
    height: 100px;
    width: 40px;
    z-index: 99;
  }
}

// No text
.no-text,
.no-text-2 {
  .single-text {
    &-wrapper {
      transform: translateY(0);
    }
  }
}

.no-text-2 {
  .main {
    background: $white;
  }

  .nav-init {
    background: $cream;
  }
}
