//  ~: SLIDER :~  //

.slider {
  height: 450px;
  margin: 0;
  overflow: hidden;

  &-logo {
    position: absolute;
    right: 315px;
    top: 70px;
    width: 50px;
  }

  &-image-wrapper {
    float: left;
    height: auto;
    width: 70%;

    img {
      height: 100%;
    }
  }

  &-text {
    &-wrapper {
      background: $camel;
      color: $white;
      height: 100%;
      padding: 3rem;
      width: 30%;

      .pagination {
        span {
          background: $white;
          background: rgba($white, 0.5);
          height: 3px;
          margin-right: 8px;
          width: 44px;

          &.active {
            background: rgba($white, 1.0);
          }
        }
      }
    }

    &-container {
      margin-top: 5rem;

      h3 {
        font-family: $baskerville-serif;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
      }

      p {
        font-family: $baskerville-serif;
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 3rem;
        position: relative;
      }

      .line {
        background: $black;
        bottom: 0;
        height: 1px;
        left: 0;
        margin-bottom: 2rem;
        position: relative;
        width: 100%;
      }

      span {
        color: $black;
        font-size: 0.85rem;
      }
    }
  }
}

@media (max-width: $tablet) {
  .slider {
    &-text {
      &-wrapper {
        padding: 2rem 2.6rem;
      }

      &-container {
        h3 {
          font-size: 1.7rem;
          margin-bottom: 1.4rem;
        }

        p {
          font-size: 0.85rem;
          line-height: 1.45;
          margin-bottom: 2rem;
        }

        .line {
          margin-bottom: 1rem;
        }

        span {
          font-size: 0.7rem;
          letter-spacing: 0.08rem;
        }
      }
    }
  }
}
@media (max-width: $small-tablet) {
  .slider {
    min-height: 50vw;

    &-image-wrapper {
      flex-basis: 65%;
    }

    &-text {
      &-wrapper {
        flex-basis: 35%;
        padding: 1rem 1.5rem;

        .pagination {
          display: none;
        }
      }

      &-container {
        margin-top: 3rem;

        h3 {
          font-size: 1.3rem;
          margin-bottom: 1.4rem;
        }

        p {
          font-size: 0.7rem;
          line-height: 1.45;
          margin-bottom: 2rem;
        }

        .line {
          margin-bottom: 1rem;
        }

        span {
          font-size: 0.65rem;
          letter-spacing: 0.03rem;
        }
      }
    }
  }
}

@media (max-width: $phone) {
  .slider {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;

    &-image-wrapper {
      flex-basis: auto;
      min-height: 60vw;
    }
  }
}
