@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-LightOblique.woff2') format('woff2'),
        url('../fonts/GTWalsheim-LightOblique.woff') format('woff'),
        url('../fonts/GTWalsheim-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Light.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Light.woff') format('woff'),
        url('../fonts/GTWalsheim-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-RegularOblique.woff2') format('woff2'),
        url('../fonts/GTWalsheim-RegularOblique.woff') format('woff'),
        url('../fonts/GTWalsheim-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Bold.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Bold.woff') format('woff'),
        url('../fonts/GTWalsheim-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim.woff2') format('woff2'),
        url('../fonts/GTWalsheim.woff') format('woff'),
        url('../fonts/GTWalsheim.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim';
    src: url('../fonts/GTWalsheim-Medium.woff2') format('woff2'),
        url('../fonts/GTWalsheim-Medium.woff') format('woff'),
        url('../fonts/GTWalsheim-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
