.nav-init {
  position: relative;
  top: 0;
  width: 100%;
  height: 350px;
  z-index: 9;
}
.nav-init-item a {
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.05rem;
  color: #1E1E1E;
  text-transform: lowercase;
  font-size: 1.05rem;
  font-variant: small-caps;
}
.nav-init-separator {
  width: 1px;
  height: 14px;
  background: #1E1E1E;
}
.nav-init-container {
  width: 90%;
  max-width: 960px;
}
.nav-init-container.top {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.nav-init-iso {
  flex-basis: 20%;
}
.nav-init-iso img {
  width: 50px;
}
.nav-init-logo {
  flex-basis: 60%;
}
.nav-init-logo img {
  width: 160px;
}
.nav-init-button {
  flex-basis: 20%;
}
.nav-init-button a {
  position: relative;
  color: #D8A073;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
}
.nav-init-button a:first-child {
  margin-bottom: 0.4rem;
}
.nav-init-button a:first-child::before {
  content: '';
  position: absolute;
  left: -20px;
  width: 12px;
  height: 100%;
  background: url(../images/arrow-nav.svg) no-repeat center center;
  border-bottom: 1px solid #D8A073;
}
.nav-init-button a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #D8A073;
}
.navbar {
  position: fixed;
  transition: all 0.3s ease;
  top: -100%;
  left: 0;
  width: 100%;
  height: 70px;
  background: #1E1E1E;
  z-index: 9;
}
.navbar-wrapper {
  width: 100%;
  height: 100%;
  margin: 0 30px;
}
.navbar-container a {
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
  padding-left: 1.6rem;
  color: white;
  text-transform: uppercase;
}
.navbar-container .separator {
  width: 1px;
  height: 14px;
  background: white;
  margin-left: 1.6rem;
}
.navbar-logo img {
  width: 45px;
}
.navbar-menu-button {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar-menu-button span {
  width: 100%;
  height: 2px;
  background: #1E1E1E;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.navbar-menu-button span:nth-of-type(1) {
  top: calc(50% - 8px);
}
.navbar-menu-button span:nth-of-type(3) {
  width: calc(100% - 8px);
  top: calc(50% + 8px);
}
.navbar .navbar-menu-button span {
  background: white;
}
.nav-init-button.menu,
.navbar-menu-button {
  display: none;
}
.current {
  color: #D8A073 !important;
}
.nav-lateral {
  opacity: 0;
  position: fixed;
  max-width: 960px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
  transition: all 0.4s ease;
}
.nav-lateral a {
  color: #D8A073;
  min-width: 100px;
  pointer-events: auto;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: center;
}
.nav-lateral a:first-child {
  transform: rotate(-90deg);
  transform-origin: left;
  margin-left: -40px;
}
.nav-lateral a:last-child {
  transform: rotate(90deg);
  transform-origin: right;
  margin-right: -40px;
}
.navbar-menu-button {
  pointer-events: all;
}
.navbar-menu-button::after {
  content: none !important;
}
.navbar-menu {
  position: fixed;
  width: 100%;
  height: 0;
  background: white;
  top: 0;
  z-index: 8;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-menu-container a {
  margin-bottom: 1rem;
  text-align: center;
  color: #1E1E1E;
  font-family: 'Libre Baskerville', serif;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-menu.active {
  height: 100vh;
}
.navbar-menu.active .navbar-menu-container a {
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 991px) {
  .nav-init {
    height: 200px;
  }
  .nav-init-iso img {
    width: 50px;
  }
  .nav-init-logo img {
    width: 140px;
  }
  .nav-init-button.init {
    display: none;
  }
  .nav-init-container.bottom {
    display: none;
  }
  .navbar {
    height: 60px;
  }
  .navbar-container {
    display: none;
  }
  .navbar-logo img {
    width: 40px;
  }
  .nav-init-button.menu,
  .navbar-menu-button {
    display: flex;
  }
}
@media (max-width: 767px) {
  .nav-init {
    height: 180px;
  }
  .nav-init-iso img {
    width: 35px;
  }
  .nav-init-logo img {
    width: 110px;
  }
}
@media (max-width: 479px) {
  .nav-init-iso img {
    width: 30px;
  }
  .nav-init-logo img {
    width: 90px;
  }
  .navbar-menu-button span {
    width: 90%;
  }
  .navbar-menu-button span:nth-of-type(3) {
    width: calc(90% - 8px);
  }
  .navbar-wrapper {
    margin: 0 5%;
  }
  .navbar-logo img {
    width: 30px;
  }
}
