.lang-link abbr {
  text-decoration: none;
}
.navbar-init {
  position: relative;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 9;
}
.navbar-init-item a {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 0.08rem;
  color: #1E1E1E;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-init-item a:hover {
  color: #D8A073;
}
.navbar-init-separator {
  width: 1px;
  height: 14px;
  background: #1E1E1E;
}
.navbar-init-container {
  width: 90%;
  max-width: 960px;
}
.navbar-init-container.top {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.navbar-init-iso {
  flex-basis: 20%;
}
.navbar-init-iso img {
  width: 50px;
}
.navbar-init-logo {
  flex-basis: 60%;
}
.navbar-init-logo img {
  width: 160px;
}
.navbar-init-button {
  flex-basis: 20%;
}
.navbar-init-button a {
  position: relative;
  color: #D8A073;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 0.2rem;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-init-button a:first-child {
  margin-bottom: 0.4rem;
}
.navbar-init-button a:hover {
  color: #1E1E1E;
}
.navbar-init-button a.login {
  position: relative;
  border: 1px #D8A073 solid;
  line-height: 0.6;
  padding: 0.5rem;
}
.navbar-init-button a.login::before {
  content: '';
  position: absolute;
  background: #1E1E1E;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-init-button a.login:hover {
  color: #D8A073;
  border: 1px #1E1E1E solid;
}
.navbar-init-button a.login:hover::before {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.navbar-init-button .separator {
  height: 10px;
  width: 1px;
  background: #1E1E1E;
  margin-left: 0.4rem;
}
.navbar-init-button-lang {
  margin-bottom: 0.7rem;
}
.navbar-init-button-lang a {
  margin: 0 !important;
  padding-left: 0.5rem;
}
.navbar-init-button-lang a.active {
  color: #1E1E1E;
}
.navbar {
  position: fixed;
  transition: all 0.3s ease;
  top: -100%;
  left: 0;
  width: 100%;
  height: 90px;
  height: auto;
  background: #1E1E1E;
  z-index: 9;
  box-sizing: border-box;
  padding: 0.8rem 1rem;
}
.navbar-mobile {
  display: none;
}
.navbar-wrapper {
  height: 100%;
}
.navbar-container a {
  font-size: 0.72rem;
  letter-spacing: 0.08rem;
  padding-left: 1.3rem;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-container a:hover {
  color: #D8A073;
}
.navbar-container .separator {
  width: 1px;
  height: 14px;
  background: white;
  margin-left: 1.3rem;
}
.navbar-logo img {
  width: 45px;
}
.navbar-menu-button {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar-menu-button span {
  width: 100%;
  height: 2px;
  background: #1E1E1E;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-menu-button span:nth-of-type(1) {
  top: calc(50% - 8px);
}
.navbar-menu-button span:nth-of-type(3) {
  width: calc(100% - 8px);
  top: calc(50% + 8px);
}
.navbar-menu-button.active span {
  -webkit-transform: translateY(8px) rotateZ(45deg) scaleX(1.1);
  -moz-transform: translateY(8px) rotateZ(45deg) scaleX(1.1);
  -ms-transform: translateY(8px) rotateZ(45deg) scaleX(1.1);
  -o-transform: translateY(8px) rotateZ(45deg) scaleX(1.1);
  transform: translateY(8px) rotateZ(45deg) scaleX(1.1);
}
.navbar-menu-button.active span:nth-of-type(2) {
  width: 0;
  transform: translateY(0) rotateZ(0) scaleX(0);
}
.navbar-menu-button.active span:nth-of-type(3) {
  width: 100%;
  -webkit-transform: translateY(-8px) rotateZ(-45deg) scaleX(1.1);
  -moz-transform: translateY(-8px) rotateZ(-45deg) scaleX(1.1);
  -ms-transform: translateY(-8px) rotateZ(-45deg) scaleX(1.1);
  -o-transform: translateY(-8px) rotateZ(-45deg) scaleX(1.1);
  transform: translateY(-8px) rotateZ(-45deg) scaleX(1.1);
}
.navbar .navbar-menu-button span {
  background: white;
}
.navbar-button {
  margin-bottom: 0.5rem;
}
.navbar-button a {
  text-transform: uppercase;
  color: #D8A073;
  font-size: 0.72rem;
  padding-left: 0.5rem;
}
.navbar-button a.active {
  color: white;
}
.navbar-button a.log-in {
  position: relative;
  border: 1px #D8A073 solid;
  padding: 0 0.5rem;
  padding-bottom: 1px;
}
.navbar-button a.log-in::before {
  content: '';
  position: absolute;
  background: #D8A073;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-button a.log-in:hover {
  color: white;
}
.navbar-button a.log-in:hover::before {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.navbar-button-lang {
  margin-right: 1rem;
}
.navbar-button-lang .separator {
  width: 1px;
  height: 10px;
  background: white;
  margin-left: 0.5rem;
}
.navbar-init-button.menu,
.navbar-menu-button {
  display: none;
}
.current {
  color: #D8A073 !important;
}
.navbar-menu-button {
  pointer-events: all;
}
.navbar-menu-button::after {
  content: none !important;
}
.navbar-menu {
  position: fixed;
  width: 100%;
  height: 0;
  background: white;
  top: 0;
  z-index: 8;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-menu-container a {
  margin-bottom: 1rem;
  text-align: center;
  color: #1E1E1E;
  font-family: 'Libre Baskerville', serif;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-menu.active {
  height: 100vh;
}
.navbar-menu.active .navbar-menu-container a {
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-wrapper.active {
  pointer-events: all;
  opacity: 0.95;
}
.search-button {
  cursor: pointer;
  color: #D8A073;
}
.search-container {
  width: 90%;
}
.search-field {
  border: 1px #D8A073 solid;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  color: #D8A073;
}
.search-field::-webkit-input-placeholder {
  color: #D8A073;
}
.search-submit {
  width: 100px;
  background: #1E1E1E;
  color: white;
}
.search form {
  display: flex;
  width: 80%;
  height: 50px;
}
.search label {
  margin: 0;
  width: 100%;
  height: 100%;
}
.screen-reader-text {
  display: none;
}
.navbar-menu-button {
  z-index: 9;
}
.dropdown > a {
  position: relative;
  margin-right: 10px;
}
.dropdown > a::after {
  content: '';
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  background-image: url('../images/dropdown.svg');
  background-position: center center;
  background-size: 10px;
  background-repeat: no-repeat;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.dropdown:hover > a::after {
  transform: rotateZ(-90deg);
}
.dropdown:hover .sub-menu {
  opacity: 1;
}
.sub-menu {
  position: absolute;
  background: white;
  padding: 10px;
  padding-right: 20px;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-menu a {
  margin: 0.3rem 0;
}
.navbar .dropdown > a::after {
  background-image: url('../images/dropdown-white.svg');
}
.navbar .sub-menu {
  background: #1E1E1E;
}
.navbar .sub-menu a {
  color: white;
}
.navbar .sub-menu a:hover {
  color: #D8A073;
}
@media (max-width: 991px) {
  .navbar-init {
    height: 200px;
  }
  .navbar-init-iso img {
    width: 50px;
  }
  .navbar-init-logo img {
    width: 140px;
  }
  .navbar-init-button.init {
    display: none;
  }
  .navbar-init-button a:first-child::before {
    display: none;
  }
  .navbar-init-container.bottom {
    display: none;
  }
  .navbar {
    height: 60px;
  }
  .navbar-container {
    display: none;
  }
  .navbar-logo img {
    width: 40px;
  }
  .navbar-button {
    display: none;
  }
  .navbar-mobile {
    display: flex;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    z-index: 8;
    background: white;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navbar-mobile-wrapper {
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navbar-mobile-wrapper .separator {
    height: 160px;
    width: 1px;
    background: #1E1E1E;
    margin: 0 2rem;
  }
  .navbar-mobile-wrapper .separator.lang {
    height: 12px;
    margin: 0 0.7rem;
  }
  .navbar-mobile-content {
    text-transform: uppercase;
    font-size: 0.8rem;
  }
  .navbar-mobile-content a {
    margin: 0.5rem 0;
    color: #1E1E1E;
  }
  .navbar-mobile-content a.active {
    color: #D8A073;
  }
  .navbar-mobile-content .search-form {
    display: flex;
    height: 30px;
    width: 220px;
  }
  .navbar-mobile-content .search-submit {
    position: relative;
    font-size: 0;
    width: 30px;
    margin-left: -1px;
  }
  .navbar-mobile-content .search-submit::before {
    content: '';
    width: 30px;
    height: 30px;
  }
  .navbar-mobile-lang a {
    margin: 0;
  }
  .navbar-mobile-button {
    margin: 1.2rem 0;
  }
  .navbar-mobile-button a {
    color: white;
    background: #D8A073;
    padding: 0.3rem 0.6rem;
    margin: 0;
    margin-right: 0.5rem;
  }
  .navbar-mobile.active {
    height: 100vh;
    transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navbar-mobile.active .navbar-mobile-wrapper {
    opacity: 1;
  }
  .navbar-init-button.menu,
  .navbar-menu-button {
    display: flex;
  }
}
@media (max-width: 767px) {
  .navbar-init {
    height: 180px;
  }
  .navbar-init-iso img {
    width: 35px;
  }
  .navbar-init-logo img {
    width: 110px;
  }
  .search-field,
  .navbar-mobile-content a {
    font-size: 0.7rem;
  }
  .navbar-mobile-content .search-form {
    width: 100%;
  }
  .navbar-mobile-wrapper .separator {
    margin: 0 1.5rem;
  }
}
@media (max-width: 479px) {
  .navbar-init-iso img {
    width: 30px;
  }
  .navbar-init-logo img {
    width: 90px;
  }
  .navbar-menu-button span {
    width: 90%;
  }
  .navbar-menu-button span:nth-of-type(3) {
    width: calc(90% - 8px);
  }
  .navbar-wrapper {
    margin: 0 5%;
  }
  .navbar-logo img {
    width: 30px;
  }
  .navbar-mobile-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .navbar-mobile-wrapper .separator {
    width: 100%;
    height: 1px;
    margin: 2rem 0;
  }
  .navbar-mobile-wrapper .separator.lang {
    width: 1px;
  }
  .navbar-mobile-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .navbar-mobile-button a {
    margin-right: 0.8rem;
  }
  .navbar-mobile-button a:last-child {
    margin-right: 0;
  }
}
