.single {
  margin: 0;
}
.single-false {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  z-index: 0;
}
.single-container article {
  width: 100%;
}
.single-image {
  width: 100%;
  max-width: 960px;
  height: 450px;
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D8A073;
}
.single-text-wrapper {
  width: 720px;
  background: white;
  transform: translateY(-150px);
  margin-bottom: -120px;
  z-index: 2;
}
.single-text-container {
  margin: 4rem;
}
.single-text-container .single-social-wrapper {
  display: none;
}
.single-text-container .post-body {
  padding-top: 2rem;
}
.single-text-container h1 {
  color: #D8A073;
}
.single-text-container h2 {
  font-size: 1.8rem;
  color: #1E1E1E;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.single-text-container h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 1.5rem 0;
}
.single-text-container h4 {
  margin-top: 1.5rem;
  font-weight: 600;
}
.single-text-container h5 {
  align-self: flex-end;
  position: relative;
  font-size: 0.9rem;
}
.single-text-container h5::before {
  content: '';
  position: absolute;
  left: -60px;
  top: 50%;
  width: 50px;
  height: 1px;
  background: #1E1E1E;
}
.single-text-container p {
  color: #1E1E1E;
  font-size: 0.9rem;
  line-height: 1.8;
  margin-top: 0.5rem;
  text-indent: 1rem;
}
.single-text-container span {
  font-family: 'Libre Baskerville', serif;
  align-self: flex-end;
  font-size: 0.7rem;
  margin-top: 0.3rem;
  max-width: 320px;
  text-align: right;
  line-height: 1.4;
  letter-spacing: normal;
}
.single-text-container img {
  width: 50%;
  margin: 0 1.5rem;
}
.single-text-container figure {
  width: 100% !important;
  margin: 1.2rem 2.2rem;
}
.single-text-container figure img {
  height: auto;
}
.single-text-container .alignleft {
  margin-left: 0;
  float: left;
}
.single-text-container .alignright {
  margin-right: 0;
  float: right;
}
.single-text-container .aligncenter {
  width: 100%;
  margin: 0;
  margin-left: -1rem;
}
.single-text-container .wp-caption-text {
  margin-top: 0.5rem;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}
.single-text-container blockquote p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.single-text-container q p {
  font-weight: 600;
}
.single-text-container ol {
  margin-top: 1rem;
}
.single-text-container ol > li {
  margin-left: 0;
  margin-bottom: 0.6rem;
  padding-left: 0;
  counter-increment: item;
  list-style: none inside;
}
.single-text-container ol > li::before {
  content: "(" counter(item) ")";
  padding-right: 0.5em;
}
.single-text-container li {
  color: #D6062D;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.65rem;
  letter-spacing: 0.02rem;
  line-height: 1.4;
}
.single-text-featured {
  flex-wrap: wrap;
  width: calc(100% + 8rem);
  margin: 3rem auto;
  margin-left: -4rem;
}
.single-text-featured .column {
  flex-basis: 50%;
  position: relative;
  overflow: hidden;
}
.single-text-featured img {
  width: auto !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;
  height: 100%;
}
.single-text-featured blockquote p {
  color: white;
  font-size: 1.3rem;
  padding: 3rem;
  background: #D8A073;
  margin: 0;
  text-indent: initial;
}
.single-text-quote {
  background: #D8A073;
  margin: 2rem -4.5rem;
}
.single-text-quote .column {
  flex-basis: 50%;
}
.single-text-quote .column:nth-of-type(2) {
  position: relative;
  background-image: url('../images/placeholders/car.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.single-text-quote h5 {
  font-size: 1.3rem;
  color: white;
  margin: 3rem 2rem 3rem 4.5rem;
}
.single-social {
  width: 50px;
  z-index: 99;
  margin: 0;
  margin-top: 480px;
}
.single-social-wrapper a {
  margin: 0.4rem 0;
}
.single-social-wrapper a svg {
  width: 26px;
  height: 26px;
}
.single-social-wrapper a svg#twitter {
  width: 20px;
  height: 20px;
}
.single-social-wrapper a svg#whatsapp {
  width: 22px;
  height: 22px;
}
.single-social-wrapper a path {
  fill: #D8A073;
}
.single .navigation {
  width: 720px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
  z-index: 2;
}
.single .navigation .nav-links {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.single .navigation .nav-links a {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.single-icon {
  margin: 0 !important;
  margin-top: 1.2rem !important;
  width: 34px !important;
  height: 34px;
}
.no-text .single-text-wrapper,
.no-text-2 .single-text-wrapper {
  transform: translateY(0);
}
.no-text-2 .main {
  background: white;
}
.no-text-2 .nav-init {
  background: #FAF0E9;
}
.category-interviews p {
  text-indent: inherit;
}
.category-interviews em {
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.01rem;
}
@media (max-width: 991px) {
  .single {
    width: 100%;
    max-width: none;
  }
  .single-image {
    max-width: none;
  }
  .single-text-wrapper {
    max-width: 720px;
    width: 86%;
  }
  .single-text-featured blockquote p {
    font-size: 1.2rem;
  }
  .single-false {
    right: 0;
    width: 56px;
  }
  .single-social {
    width: auto;
  }
}
@media (max-width: 767px) {
  .single-text-featured {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: -2.5rem;
    width: calc(100% + 5rem);
    padding: 3.6rem 0;
  }
  .single-text-featured img {
    width: 100% !important;
    left: auto;
    transform: translateX(0);
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .single-text-featured .column.image {
    min-height: 280px;
  }
  .single-text-wrapper {
    width: 90%;
  }
  .single-text-container {
    margin: 4rem 2.5rem 2rem;
  }
  .single-text-container .single-social-wrapper {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .single-text-container .single-social-wrapper a {
    margin: 0 0.8rem;
  }
  .single-text-container h1 {
    font-size: 1.8em;
    margin: 0.4em 0;
  }
  .single-text-container h2 {
    font-size: 1.6rem;
  }
  .single-text-container h3 {
    font-size: 1.1rem;
  }
  .single-text-container p {
    font-size: 0.85rem;
    line-height: 1.7;
  }
  .single-text-container blockquote p {
    font-size: 1.5rem;
  }
  .single .navigation {
    max-width: 720px;
    width: 86%;
  }
  .single-false {
    display: none;
  }
  .category-interviews em {
    font-size: 0.9rem;
  }
}
@media (max-width: 479px) {
  .single-image {
    height: 280px;
  }
  .single-text-wrapper {
    width: 100%;
    transform: translateY(0);
    margin: 0;
  }
  .single-text-container {
    margin: 3rem 2rem 1rem;
  }
  .single-text-container h1 {
    font-size: 1.6em;
    margin: 0.3em 0;
  }
  .single-text-container h2 {
    font-size: 1.4rem;
  }
  .single-text-container h3 {
    font-size: 1rem;
  }
  .single-text-container blockquote p {
    font-size: 1.3rem;
  }
  .single-text-featured blockquote p {
    padding: 2rem 3rem;
  }
  .single-text-featured .column {
    margin: 0 !important;
  }
  .single-text-featured .column img {
    width: auto !important;
    height: 100%;
    top: auto;
    left: 50%;
    transform: translateY(0) translateX(-50%);
  }
}
