.single {
  margin: 0;
}
.single-container article {
  width: 100%;
}
.single-image {
  width: 100%;
  max-width: 960px;
  height: 450px;
  background-image: url('../images/placeholders/forest.jpg');
  background-position: 50% 80%;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-text-wrapper {
  width: 720px;
  background: white;
  transform: translateY(-150px);
  margin-bottom: -120px;
}
.single-text-container {
  margin: 4rem;
}
.single-text-container .post-body {
  padding-top: 2rem;
}
.single-text-container h1 {
  color: #D8A073;
}
.single-text-container h2 {
  font-size: 1.8rem;
  color: #1E1E1E;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.single-text-container h3 {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 1.5rem;
}
.single-text-container h4 {
  margin-top: 1.5rem;
  font-weight: 600;
}
.single-text-container h5 {
  align-self: flex-end;
  position: relative;
  font-size: 0.9rem;
}
.single-text-container h5::before {
  content: '';
  position: absolute;
  left: -60px;
  top: 50%;
  width: 50px;
  height: 1px;
  background: #1E1E1E;
}
.single-text-container p {
  color: #1E1E1E;
  font-size: 0.9rem;
  line-height: 1.8;
  margin-top: 0.5rem;
}
.single-text-container span {
  font-family: 'Libre Baskerville', serif;
  align-self: flex-end;
  font-size: 0.7rem;
  margin-top: 0.3rem;
  max-width: 320px;
  text-align: right;
  line-height: 1.4;
}
.single-text-container img {
  width: 50%;
  margin: 0 1.5rem;
}
.single-text-container figure {
  width: 100% !important;
  margin: 1.2rem 2.2rem;
}
.single-text-container figure img {
  height: auto;
}
.single-text-container .alignleft {
  margin-left: 0;
  float: left;
}
.single-text-container .alignright {
  margin-right: 0;
  float: right;
}
.single-text-container .aligncenter {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
.single-text-container .wp-caption-text {
  margin-top: 0.5rem;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}
.single-text-container blockquote p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.single-text-container q p {
  font-weight: 600;
}
.single-text-container ol {
  margin-top: 1rem;
}
.single-text-container ol > li {
  margin-left: 0;
  margin-bottom: 0.6rem;
  padding-left: 0;
  counter-increment: item;
  list-style: none inside;
}
.single-text-container ol > li::before {
  content: "(" counter(item) ")";
  padding-right: 0.5em;
}
.single-text-container li {
  color: #D6062D;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.65rem;
  letter-spacing: 0.02rem;
  line-height: 1.4;
}
.single-text-quote {
  background: #D8A073;
  margin: 2rem -4.5rem;
}
.single-text-quote .column {
  flex-basis: 50%;
}
.single-text-quote .column:nth-of-type(2) {
  position: relative;
  background-image: url('../images/placeholders/car.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.single-text-quote h5 {
  font-size: 1.3rem;
  color: white;
  margin: 3rem 2rem 3rem 4.5rem;
}
.single-social {
  display: none;
  background: #D8A073;
  width: 40px;
  height: 100px;
  z-index: 99;
}
.single .navigation {
  width: 720px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.single .navigation .nav-links {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.single .navigation .nav-links a {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.single-icon {
  margin-top: 1.2rem;
  width: 34px !important;
  height: 34px;
}
.no-text .single-text-wrapper,
.no-text-2 .single-text-wrapper {
  transform: translateY(0);
}
.no-text-2 .main {
  background: white;
}
.no-text-2 .nav-init {
  background: #FAF0E9;
}
.category-interviews em {
  font-weight: bold;
  font-size: 0.95rem;
  letter-spacing: 0.01rem;
}
