.slider {
  margin: 0;
  overflow: hidden;
  height: 450px;
}
.slider *,
.slider *::before,
.slider *::after {
  box-sizing: border-box;
}
.slider-logo {
  position: absolute;
  width: 50px;
  top: 70px;
  right: 315px;
}
.slider-image-wrapper {
  width: 70%;
  float: left;
  height: auto;
}
.slider-image-wrapper img {
  height: 100%;
}
.slider-text-wrapper {
  width: 30%;
  height: 100%;
  background: #D8A073;
  color: white;
  padding: 3rem;
}
.slider-text-wrapper .pagination span {
  width: 44px;
  height: 3px;
  background: white;
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.5);
}
.slider-text-wrapper .pagination span.active {
  background: #ffffff;
}
.slider-text-container {
  margin-top: 5rem;
}
.slider-text-container h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.slider-text-container p {
  font-family: 'Libre Baskerville', serif;
  position: relative;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.slider-text-container .line {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #1E1E1E;
  margin-bottom: 2rem;
}
.slider-text-container span {
  font-size: 0.85rem;
  color: #1E1E1E;
}
@media (max-width: 991px) {
  .slider-text-wrapper {
    padding: 2rem 2.6rem;
  }
  .slider-text-container h3 {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
  }
  .slider-text-container p {
    font-size: 0.85rem;
    line-height: 1.45;
    margin-bottom: 2rem;
  }
  .slider-text-container .line {
    margin-bottom: 1rem;
  }
  .slider-text-container span {
    font-size: 0.7rem;
    letter-spacing: 0.08rem;
  }
}
@media (max-width: 767px) {
  .slider {
    min-height: 50vw;
  }
  .slider-image-wrapper {
    flex-basis: 65%;
  }
  .slider-text-wrapper {
    flex-basis: 35%;
    padding: 1rem 1.5rem;
  }
  .slider-text-wrapper .pagination {
    display: none;
  }
  .slider-text-container {
    margin-top: 3rem;
  }
  .slider-text-container h3 {
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
  }
  .slider-text-container p {
    font-size: 0.7rem;
    line-height: 1.45;
    margin-bottom: 2rem;
  }
  .slider-text-container .line {
    margin-bottom: 1rem;
  }
  .slider-text-container span {
    font-size: 0.65rem;
    letter-spacing: 0.03rem;
  }
}
@media (max-width: 479px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slider-image-wrapper {
    flex-basis: auto;
    min-height: 60vw;
  }
}
