.slider {
  margin: 0;
  overflow: hidden;
  height: 450px;
}
.slider *,
.slider *::before,
.slider *::after {
  box-sizing: border-box;
}
.slider-logo {
  position: absolute;
  width: 50px;
  top: 70px;
  right: 315px;
}
.slider-image-wrapper {
  float: left;
  height: auto;
}
.slider-image-wrapper img {
  height: auto;
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.slider-link {
  width: 70%;
}
.slider-text-wrapper {
  position: relative;
  width: 30%;
  height: 450px;
  background: #D8A073;
  color: white;
  padding: 2.3rem 2rem;
  z-index: 7;
}
.slider-text-wrapper .pagination {
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  padding: 0 2rem;
}
.slider-text-wrapper .pagination-indicator {
  width: 25%;
  height: 3px;
  background: white;
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.slider-text-wrapper .pagination-indicator:last-child {
  margin-right: 0;
}
.slider-text-wrapper .pagination-indicator.active {
  background: white;
}
.slider-text-wrapper .pagination span {
  width: 44px;
  height: 3px;
  background: white;
  margin-right: 8px;
  background: rgba(255, 255, 255, 0.5);
}
.slider-text-wrapper .pagination span.active {
  background: #ffffff;
}
.slider-text-container {
  margin-top: 5rem;
}
.slider-text-container h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  letter-spacing: normal;
}
.slider-text-container p {
  font-family: 'Libre Baskerville', serif;
  position: relative;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: normal;
}
.slider-text-container .line {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #1E1E1E;
  margin: 1.5rem 0;
}
.slider-text-container span {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #1E1E1E;
}
.slider-text-wrapper * {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.active .slider-text-wrapper * {
  opacity: 1;
}
@media (max-width: 991px) {
  .slider {
    height: 420px;
  }
  .slider-text-wrapper {
    height: 420px;
    padding: 2rem 1.7rem;
  }
  .slider-text-wrapper .pagination {
    padding: 0 1.7rem;
  }
  .slider-text-wrapper .pagination-indicator {
    margin-right: 5px;
  }
  .slider-text-container h3 {
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
  }
  .slider-text-container p {
    font-size: 0.85rem;
    line-height: 1.45;
  }
  .slider-text-container .line {
    margin-bottom: 1rem;
  }
  .slider-text-container span {
    font-size: 0.65rem;
    letter-spacing: 0.08rem;
  }
}
@media (max-width: 767px) {
  .slider {
    height: auto;
  }
  .slider-link {
    width: 100%;
    height: 280px;
  }
  .slider-image-wrapper img {
    height: auto;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider-text-wrapper {
    width: 100%;
    height: 180px;
    padding: 1.4rem 2rem;
  }
  .slider-text-wrapper .pagination {
    top: 30px;
  }
  .slider-text-wrapper .pagination-indicator {
    margin-right: 2%;
  }
  .slider-text-container {
    margin-top: 3rem;
  }
  .slider-text-container h3 {
    font-size: 1.5rem;
    margin-bottom: 0.4rem;
  }
  .slider-text-container p {
    font-size: 0.75rem;
    line-height: 1.45;
  }
  .slider-text-container .line {
    margin: 0.7rem 0;
    width: 50%;
  }
  .slider-text-container span {
    font-size: 0.65rem;
    letter-spacing: 0.03rem;
  }
}
@media (max-width: 479px) {
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .slider-link {
    height: 220px;
  }
  .slider-image-wrapper {
    flex-basis: auto;
    min-height: 60vw;
  }
}
@media (max-width: 320px) {
  .slider-image {
    height: 200px;
  }
}
